<app-expander>
  <div expander-header>
    <img src="https://cdn-icons-png.flaticon.com/512/2503/2503644.png">
    <span>Welcome to content projection</span>
  </div>
  <h1 class="black">Hello Content</h1>
  Today we are going to talk about content
</app-expander>

<app-expander>
  <a expander-header href="www.google.com">Google</a>
  <app-blank></app-blank>
  <ul>
    <li>How to project content</li>
    <li>How to use the ng-cotnent element</li>
  </ul>
  <button expander-toggle>
    <span expander-off>Open</span>
    <span expander-on>Close</span>
  </button>
</app-expander>

<hr>
<button expander-toggle>Mu ha ha ha ha</button>