ul {
    color: green;
}

img {
    width: 20px;
    height: 20px;
}

button {
    background: lime;
    color: green;
    border: 1px solid green;
}


.special {
    --expander-header-background: yellow;
}

.special:hover {
    --expander-header-background: orange;

}