<ng-template #templ1 let-item="item">
  <span [style.color]="item">{{item}}</span>
</ng-template>
<ng-template #templ2 let-item="item">
  <span [style.font-family]="item">{{item}}</span>
</ng-template>


<div class="colors-area">
  <sha-string-selector
    [itemTemplate]="templ1"
    [options]="colors"
    [selectedOption]="selectedColor"
    (selection)="setColor($event)"
  ></sha-string-selector>
</div>
<div class="fonts-area">
  <sha-string-selector
    [itemTemplate]="templ2"
    [options]="fonts"
    [selectedOption]="selectedFont"
    (selection)="setFont($event)"
  ></sha-string-selector>
</div>
<div class="sizes-area">
  <sha-string-selector
    [options]="sizes"
    [selectedOption]="selectedSize"
    (selection)="setSize($event)"
  ></sha-string-selector>
</div>
<div class="text-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-size]="selectedSize"
    [style.font-family]="selectedFont"
  ></textarea>
</div>