<div class="colors-area">
  <app-string-selector
    [options]="colors"
    [selectedOption]="selectedColor"
    (selection)="setColor($event)"
  ></app-string-selector>
</div>
<div class="fonts-area">
  <app-string-selector
    [options]="fonts"
    [selectedOption]="selectedFont"
    (selection)="setFont($event)"
  ></app-string-selector>
</div>
<div class="sizes-area">
  <app-string-selector
    [options]="sizes"
    [selectedOption]="selectedSize"
    (selection)="setSize($event)"
  ></app-string-selector>
</div>
<div class="text-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-size]="selectedSize"
    [style.font-family]="selectedFont"
  ></textarea>
</div>