:host {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.text-area {
    grid-column: 1 / -1;
    display: grid;
}

div {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 4px;
    overflow: hidden;
}

textarea {
    resize: none;
    border: 0px solid transparent;
    outline: transparent;
    margin: 10px;
}
