:host {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: lightgray;
}